body {
  background: linen;
  background-size: cover;
  font-family: 'Courier Prime', monospace;
  font-weight: lighter;

}

.typed-out {
  overflow: hidden;
  white-space: nowrap;
  animation:
    typing 1s steps(20, end) forwards;
  font-size: 1.6rem;
  width: 0;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}
.view{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;

}

.container {
  position: relative;
  display: inline-block;
}

.img_shades {
  position: absolute;
  top: 30%; 
  left: 46%; 
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the shades are on top of the profile image */
}



.profile-image {
  width: 200px;
  /* Adjust the size as needed */
  height: 200px;
  border-radius: 50%;
  /* object-fit: cover; */
  margin-right: 20px;
  /* Adjust the margin as needed */

}



.img_shades{
  width: 100px;
  height: 55px;
  visibility:hidden
}



.profile-image:hover {
  cursor: pointer;
}

.hearts-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: #CCC;

}


@keyframes heartAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  20% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}


.social-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.social-icons a {
  margin-left: 10px;
  font-size: 24px;
  color: black;
}

.social-icons a:hover {
  color: black;
}
